﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма оформления услуги</h3>
        <p> Для оформление заполните следующие поля</p>
        <form method="post">
            <intput typeof="hidden" value="@ViewBag.OrderId" name="OrderId" />
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="User" /> </td>
                </tr>
                <tr>
                    <td>Адрес:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
