﻿@model IEnumerable<WebWireMan.Models.Service>
@{ 
    //ViewData["Title"] = "Список телефонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Услуги электрика</title>
</head>
<body>
    <h3>Услуги электрика</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach(var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Price</td>
                <td><a href="~/Home/Buy/@service.Id">Выбрать</a></td>
            </tr>
        }
    </table>
</body>
</html>