﻿@model IEnumerable<MobileStore.Models.Phone>
@{ 
    ViewData["Title"] = "Merchandize catalog";
}
<!DOCTYPE html>

<html>
<head>
    <title>Mobiles store</title>
</head>
<body>
    <h3>Mobiles</h3>
    <table class="table-condensed">
        <tr>
            <td>Model</td>
            <td>Manufacturer</td>
            <td>Price</td>
            <td></td>
        </tr>
        @foreach(var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Buy</a></td>
            </tr>
        }
    </table>
</body>
</html>