﻿@using DrinkAndGo.ViewModels
@model DrinkListViewModel

<div>
    <h2>All drinks are shown here</h2>
</div>

@{ 
    foreach (var drink in Model.Drinks)
    {
        <div>
            <h4>Drink Name: @drink.Name</h4>
            <p>Price: @drink.Price.ToString("c")</p>
        </div>
    }
}