﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- For Clients slider -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
    <!-- //For clients slider -->
    <link href="css/lsb.css" rel="stylesheet" type="text/css">
    <!--gallery lsb lightbox-->
    <!--stylesheets-->
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>
<body>
    <div class="header-outs" id="home">
        <div class="header-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link scroll">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link scroll">Service</a>
                        </li>
                        <li class="nav-item">
                            <a href="#gallery" class="nav-link scroll">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a href="#clients" class="nav-link scroll">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link scroll">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hedder-up">
                <h1><a class="navbar-brand" href="#">Leccy <span class="fa fa-lightbulb-o" aria-hidden="true"></span></a></h1>
            </div>
        </div>
        <!-- //Navigation -->
        <!-- Slideshow 4 -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="slider-img one-img">
                            <div class="container">
                                <div class="slider-info">
                                    <h4>Best Electrical Service</h4>
                                    <div class="outs_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img two-img">
                            <div class="container">
                                <div class="slider-info">
                                    <h4>Power At Your Home</h4>
                                    <div class="outs_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img three-img">
                            <div class="container">
                                <div class="slider-info">
                                    <h4>Solar Panel Technology</h4>
                                    <div class="outs_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
               <li>Example 4 callback events</li>
               </ul>-->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner -->
    <!--about -->
    <div class="about" id="about">
        <div class="container-fluid">
            <div class="row abt-colm offset">
                <div class="col-lg-5 agile-info-img">
                    <img src="images/a1.jpg" alt="">
                </div>
                <div class="col-lg-7 agile-abt-info">
                    <h2>
                        What You Know About Us
                        <br>What We Do To You
                    </h2>
                    <div class="info-sub-w3">
                        <p>
                            As one of New Jersey’s most reputable electrical and solar contractors, Maglio Electric blends innovation with time-tested craftsmanship
                            to supply cost-effective wiring repair, installation, and maintenance. Our licensed, certified electrical contractors are familiar with
                            eco-friendly power options and conduct themselves with client-focused professionalism, integrity, and follow-through.
                        </p>
                    </div>
                    <div class="arrow">
                        <ul>
                            <li>
                                <span class="fa fa-chevron-right dog-arrow" aria-hidden="true"></span>
                                <p>*************</p>
                            </li>
                            <li>
                                <span class="fa fa-chevron-right dog-arrow" aria-hidden="true"></span>
                                <p>************* </p>
                            </li>
                            <li>
                                <span class="fa fa-chevron-right dog-arrow" aria-hidden="true"></span>
                                <p>************* </p>
                            </li>
                            <li>
                                <span class="fa fa-chevron-right dog-arrow" aria-hidden="true"></span>
                                <p>************* </p>
                            </li>
                        </ul>
                    </div>
                    <div class="about_more-buttn">
                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="jst-must-info">
                <div class="stats-info row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stats-grid stats-grid-1">
                        <div class="counter">3500</div>
                        <div class="stat-info">
                            <h4>Electrical</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stats-grid stats-grid-2">
                        <div class="counter">650</div>
                        <div class="stat-info">
                            <h4>Happy Client</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stats-grid stats-grid-3">
                        <div class="counter">10</div>
                        <div class="stat-info">
                            <h4>Expereince</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stats-grid stats-grid-4">
                        <div class="counter">1010</div>
                        <div class="stat-info">
                            <h4>Expert Worker</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//about -->
    <!--services-->
    <div class="service-video">
        <div class="service" id="services">
            <div class="container">
                <!-- <h3 class="title">Services</h3>-->
                <div class="video-left-w3l" id="video">
                    <iframe src="https://player.vimeo.com/video/61768275?" allowfullscreen></iframe>
                </div>
                <div class="w3ls_banner_bottom_grids agileinfo_testimonial_grids">
                    <div class="service-info">
                        <h5>
                            *************
                        </h5>
                    </div>
                    <section class="row center slider">
                        <div class="col-lg-4 agileits_ser-img_grid">
                            <div class="w3l_serv-slider_grid">
                                <div class="w3ls-slide-img">
                                    <img src="images/s1.jpg" alt=" " class="img-responsive" />
                                </div>
                                <div class="w3l_service_grid">
                                    <p>
                                        *************
                                    </p>
                                    <h4>*************</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 agileits_ser-img_grid">
                            <div class="w3l_serv-slider_grid">
                                <div class="w3ls-slide-img">
                                    <img src="images/s2.jpg" alt=" " class="img-responsive" />
                                </div>
                                <div class="w3l_service_grid">
                                    <p>
                                        *************
                                    </p>
                                    <h4>*************</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 agileits_ser-img_grid">
                            <div class="w3l_serv-slider_grid">
                                <div class="w3ls-slide-img">
                                    <img src="images/s3.jpg" alt=" " class="img-responsive" />
                                </div>
                                <div class="w3l_service_grid">
                                    <p>
                                        *************
                                    </p>
                                    <h4>*************</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--//services-->
    <!-- gallery -->
    <div id="gallery" class="gallery">
        <div class="container">
            <h3 class="title clr">Portfolio</h3>
            <div class="row agile_gallery_grids">
                <div class="col-lg-4 col-md-6 col-sm-6 agile_gallery_grid">
                    <div class="hover ehover14">
                        <a href="images/g1.jpg" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                            <img src="images/g1.jpg" alt=" " class="img-responsive" />
                            <div class="overlay">
                                <h4>LECCY</h4>
                                <div class="info nullbutton button">Full View</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 agile_gallery_grid">
                    <div class="hover ehover14">
                        <a href="images/g2.jpg" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                            <img src="images/g2.jpg" alt=" " class="img-responsive" />
                            <div class="overlay">
                                <h4>LECCY</h4>
                                <div class="info nullbutton button">Full View</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 agile_gallery_grid">
                    <div class="hover ehover14">
                        <a href="images/g3.jpg" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                            <img src="images/g3.jpg" alt=" " class="img-responsive" />
                            <div class="overlay">
                                <h4>LECCY</h4>
                                <div class="info nullbutton button">Full View</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 agile_gallery_grid grid1">
                    <div class="hover ehover14">
                        <a href="images/g4.jpg" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                            <img src="images/g4.jpg" alt=" " class="img-responsive" />
                            <div class="overlay">
                                <h4>LECCY</h4>
                                <div class="info nullbutton button">Full View</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 agile_gallery_grid grid1">
                    <div class="hover ehover14">
                        <a href="images/g5.jpg" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                            <img src="images/g5.jpg" alt=" " class="img-responsive" />
                            <div class="overlay">
                                <h4>LECCY</h4>
                                <div class="info nullbutton button">Full View</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 agile_gallery_grid grid1">
                    <div class="hover ehover14">
                        <a href="images/g6.jpg" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                            <img src="images/g6.jpg" alt=" " class="img-responsive" />
                            <div class="overlay">
                                <h4>LECCY</h4>
                                <div class="info nullbutton button">Full View</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!--clients-->
    <div class="clients" id="clients">
        <h3 class="title">Clients</h3>
        <div class="row clients-says-agile">
            <div class="col-lg-6 wthree-clients-left">
            </div>
            <div class="col-lg-6 w3l-clients-right">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/c1.jpg" alt="" />
                                <p>*************</p>
                                <div class="client">
                                    <h5>Luis Roy</h5>
                                </div>
                            </li>
                            <li>
                                <img src="images/c2.jpg" alt="" />
                                <p>*************</p>
                                <div class="client">
                                    <h5>Adam</h5>
                                </div>
                            </li>
                            <li>
                                <img src="images/c3.jpg" alt="" />
                                <p>*************</p>
                                <div class="client">
                                    <h5>Steve Artur</h5>
                                </div>
                            </li>
                            <li>
                                <img src="images/c4.jpg" alt="" />
                                <p>*************</p>
                                <div class="client">
                                    <h5>Victorya</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!--clients-->
    <!--price table -->
    <div class="pricing" id="pricing">
        <div class="container">
            <h3 class="title clr">Packages</h3>
            <div class="pricing-grids-info row">
                <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid grid-one">
                    <div class="w3ls-bottom">
                        <h3>Package 1</h3>
                        <ul class="count">
                            <li>Roof Solar Systems</li>
                            <li>Light Fixtures </li>
                            <li>LED Pot Lights</li>
                            <li>Garage Circuits</li>
                        </ul>
                        <h4> 900<span class="sup">$</span> </h4>
                        <div class="more">
                            <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid grid-two">
                    <div class="w3ls-bottom">
                        <h3>Package 2</h3>
                        <ul class="count">
                            <li>Roof Solar Systems</li>
                            <li>Light Fixtures </li>
                            <li>LED Pot Lights</li>
                            <li>Garage Circuits</li>
                        </ul>
                        <h4> 750<span class="sup">$</span> </h4>
                        <div class="more">
                            <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid grid-three">
                    <div class="w3ls-bottom">
                        <h3>Package 3</h3>
                        <ul class="count">
                            <li>Roof Solar Systems</li>
                            <li>Light Fixtures </li>
                            <li>LED Pot Lights</li>
                            <li>Garage Circuits</li>
                        </ul>
                        <h4> 850<span class="sup">$</span> </h4>
                        <div class="more">
                            <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 zb pricing-grid grid-four">
                    <div class="w3ls-bottom">
                        <h3>Package 4</h3>
                        <ul class="count">
                            <li>Roof Solar Systems</li>
                            <li>Light Fixtures </li>
                            <li>LED Pot Lights</li>
                            <li>Garage Circuits</li>
                        </ul>
                        <h4> 950<span class="sup">$</span> </h4>
                        <div class="more">
                            <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                        </div>
                    </div>
                </div>
                <!--End-slider-script-->
            </div>
        </div>
    </div>
    <!--//price table -->
    <!--team -->
    <section class="team" id="team">
        <div class="container-fluid">
            <h3 class="title">Meet Our Team</h3>
            <div class="row pt-md">
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="bodr-img">
                        <h4>Team Members</h4>
                        <p>*************</p>
                        <p class="agileinfo-sub-para">*************</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <img src="images/t3.jpg" alt="">
                        <ul class="text-center">
                            <li>
                                <h4>Max Will</h4>
                            </li>
                            <li>
                                <h6>Office Manager</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <div class="team-list-img">
                            <img src="images/t4.jpg" alt="">
                        </div>
                        <ul class="text-center">
                            <li>
                                <h4>Kent Kelly</h4>
                            </li>
                            <li>
                                <h6>Electrician</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <img src="images/t5.jpg" alt="">
                        <ul class="text-center">
                            <li>
                                <h4>Sunny Doi</h4>
                            </li>
                            <li>
                                <h6>Staff Helper</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-md">
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <img src="images/t6.jpg" alt="">
                        <ul class="text-center">
                            <li>
                                <h4>Rox Will</h4>
                            </li>
                            <li>
                                <h6>Electrician</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <img src="images/t5.jpg" alt="">
                        <ul class="text-center">
                            <li>
                                <h4>Sam Doi</h4>
                            </li>
                            <li>
                                <h6>Master Electrician</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <div class="team-list-img">
                            <img src="images/t2.jpg" alt="">
                        </div>
                        <ul class="text-center">
                            <li>
                                <h4>Kent Kelly</h4>
                            </li>
                            <li>
                                <h6>Electrician</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="img-box">
                        <img src="images/t4.jpg" alt="">
                        <ul class="text-center">
                            <li>
                                <h4>Rose Will</h4>
                            </li>
                            <li>
                                <h6>Master Electrician</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//team -->
    <!--contact -->
    <div class="contact" id="contact">
        <div class="container">
            <h3 class="title clr">CONTACT US</h3>
            <div class=" contact-form">
                <form action="#" method="post">
                    <div class="row contact-bothside-agileinfo">
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                            <input type="text" name="Name" placeholder="Name" required="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right ">
                            <input type="text" name="Last name" placeholder="Last name" required="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                            <input type="email" name="Email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right ">
                            <input type="text" name="phone" placeholder="Phone" required="">
                        </div>
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                        <input type="submit" value="SUBMIT">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--//contact -->
    <!-- //Footer -->
    <div class="footer">
        <div class="container">
            <div class="row footer-agile-grids">
                <div class="col-lg-3 col-md-6 col-sm-6 wthree-left-right">
                    <h4>About</h4>
                    <div class="abt-footer">
                        <p>*************</p>
                        <h5><a href="#about" class="scroll">Read more..</a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wthree-left-right">
                    <h4> Opening Hours</h4>
                    <div class="wls-hours-list">
                        <ul>
                            <li class="d-flex">Monday   <span class="time ml-auto"> 9:30-18:30</span></li>
                            <li class="d-flex">Tuesday  <span class="time ml-auto"> 9:30-18:30</span></li>
                            <li class="d-flex">Wednesday<span class="time ml-auto"> 9:30-18:30</span></li>
                            <li class="d-flex">Thursday <span class="time ml-auto"> 9:30-18:30</span></li>
                            <li class="d-flex">Friday   <span class="time ml-auto"> 9:30-18:30</span></li>
                            <li class="d-flex">Saturday <span class="time ml-auto"> 9:30-18:30</span></li>
                            <li class="d-flex">Sunday   <span class="time ml-auto">     closed</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wthree-left-right">
                    <h4>Our Address</h4>
                    <div class="addres-up">
                        <ul>
                            <li>
                                <span class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                                <p>333 Broome St New York</p>
                            </li>
                            <li>
                                <span class="fa fa-phone icons-left" aria-hidden="true"></span>
                                <p>+11 256 5486</p>
                            </li>
                            <li>
                                <span class="fa fa-envelope"></span>
                                <p><a href="mailto:info@example.com">mail@example.com</a></p>
                            </li>
                            <li>
                                <span class="fa fa-fax" aria-hidden="true"></span>
                                <p>(000)1122333</p>
                            </li>
                            <li>
                                <span class="fa fa-windows" aria-hidden="true"></span>
                                <p>http//example.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="icons">
                        <ul>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            <li><a href="#"><span class="fa fa-vk"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wthree-left-right">
                    <h4>Our Location</h4>
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>©2018 Leccy. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
    </footer>
    <!-- //Footer -->
    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLiveLabel">Make a Booking</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input">
                                    <input type="text" placeholder="Your Name" name="Your Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="email" placeholder="Your Email" name="Your Email" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="text" placeholder="Phone Number" name="Phone Number" required="">
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <select class="category2" required="">
                                        <option value="">Number of People</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">More</option>
                                    </select>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <select class="category2" required="">
                                        <option value="">Select your Package</option>
                                        <option value="">Package 1</option>
                                        <option value="">Package 2</option>
                                        <option value="">Package 3</option>
                                        <option value="">Package 4</option>
                                    </select>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <div class="agileits_w3layouts_grid">
                                        <select class="category2" name="category1" required="">
                                            <option value="">Select Time</option>
                                            <option value="">Hours: 8am - 10am</option>
                                            <option value="">Hours: 10am - 12pm</option>
                                            <option value="">Hours: 12pm - 4pm</option>
                                            <option value="">Hours: 4pm - 7pm</option>
                                            <option value="">Hours: 7pm - 9pm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="styled-input w3l-comment">
                                    <textarea name="more" placeholder="Something More" required=""></textarea>
                                </div>
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--js working-->
    <script src='js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- carousal service slider-->
    <script src="js/slick.js"></script>
    <script>
        $(document).on('ready', function () {
            $(".center").slick({
                dots: true,
                infinite: true,
                centerMode: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            centerMode: false,
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: true,
                            centerMode: false,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
    <!-- //carousal -->
    <!--responsiveslides banner-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 900,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--// responsiveslides banner-->
    <!--About OnScroll-Number-Increase-JavaScript -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //OnScroll-Number-Increase-JavaScript -->
    <!-- clients FlexSlider-JavaScript -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //clients FlexSlider-JavaScript -->
    <!-- gallery-lightbox -->
    <script src="js/lsb.min.js"></script>
    <script>
        $(window).load(function () {
            $.fn.lightspeedBox();
        });
    </script>
    <!-- //gallery-lightbox -->
    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
</body>
</html>

